@import "config";
@import "common";
@import "form";
@import "services";

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: left;
}

body{
  padding: 20px;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  color: $font-color;
  background: linear-gradient(to left, #76b852, #8DC26F);
}

button{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: white;
  font-size: 14px;
  transition: background-color .3s ease;
  cursor: pointer;
  margin-bottom: 10px;

  &:hover{
    background-color: #43A047;
  }
}

ul{
  list-style: none;
}
h1{
  font-weight: normal;
}
a{
  cursor: pointer;
}

select{
  outline: none;
}

img{
  &.rounded{
    border-radius: 100%;
    border: 1px solid $border-color;
  }
}
#project-name{
  text-align: center;
  border-bottom: 1px solid rgba(white, 0.3);
  padding-bottom: 5px;
  margin-bottom: 20px;
  color: rgba(white, 0.8);
}
.content{
  display: flex;
}
#preview{
  flex: 1;
  justify-content: center;
  display: flex;
}