input{
  height: 45px;
  font-size: 15px;
  margin: 0 10px;
}

// #image{
//   width: 0;
//   height: 0;
// }
// .image-label{
//   display: none;
//   text-align: center;
//   border: 2px dashed;
//   border-radius: 3px;
//   padding: 10px;
//   cursor: pointer;
//   transition: all .5s ease;
// }
// .image-label:hover{
//   background-color: #3f4069;
//   border-color: #3f4069;
//   text-shadow: 1px 1px black;
// }